[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_1D000A800443565633393720-if00
# low profile carto: /dev/serial/by-id/usb-Cartographer_614e_36000E000F43304146393320-if00
#spare right angle /dev/serial/by-id/usb-Cartographer_614e_1D0000000443565633393720-if00
restart_method: command
is_non_critical: true

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 20
travel_speed: 250
#macro_prefix:
verbose: yes

[cartographer touch]
samples: 5
max_samples: 15
#UNSAFE_max_touch_temperature: 150

[cartographer scan]
probe_speed: 25
mesh_runs: 2
mesh_direction: x
mesh_height: 2
mesh_path: alternating_snake
#   The path to use when calibrating a scan mesh - either 'snake',
#   'alternating_snake', 'spiral' or 'random'.
#   The default is snake.

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[bed_mesh]
zero_reference_position: 113.50,102.50
horizontal_move_z: 2
speed: 250
mesh_min: 20,25
mesh_max: 215,200
probe_count: 20,20
adaptive_margin: 10
mesh_pps: 0,0
use_probe_xy_offsets: True

[z_tilt_ng]
points:  
   114.50,174.50
   199.50,5.00
   29.50,5.00
speed: 250
horizontal_move_z: 25
adaptive_horizontal_move_z: True
min_horizontal_move_z: 2
retries: 15
retry_tolerance: 0.005
increasing_threshold: 0.5
extra_points:
   29.50,174.50
   199.50,174.50
   114.50,5.00
averaging_len: 5
autodetect_delta: 1.0

[axis_twist_compensation]
speed: 50
horizontal_move_z: 5
calibrate_start_x: 20
calibrate_end_x: 215
calibrate_y: 110

[safe_z_home]
home_xy_position: 113.50, 102.50
speed: 150
z_hop: 5
z_hop_speed: 25
home_y_before_x: True

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    {% set max_velocity = printer.toolhead.max_velocity %}
    {% set max_accel = printer.toolhead.max_accel %}
    {% set max_square_corner_velocity = printer.toolhead.square_corner_velocity %}
    {% set start_max_velocity = [printer["gcode_macro _START_END_PARAMS"].start_max_velocity, max_velocity]|min %}
    {% set start_max_accel = [printer["gcode_macro _START_END_PARAMS"].start_max_accel, max_accel]|min %}
    {% set start_max_square_corner_velocity = [printer["gcode_macro _START_END_PARAMS"].start_max_square_corner_velocity, max_square_corner_velocity]|min %}
    
    {% if max_velocity > start_max_velocity or max_accel > start_max_accel or max_square_corner_velocity > start_max_square_corner_velocity %}
        RESPOND TYPE=command MSG='Setting VELOCITY={start_max_velocity} (was {max_velocity}) ACCEL={start_max_accel} (was {max_accel}) SQUARE_CORNER_VELOCITY={start_max_square_corner_velocity} (was {max_square_corner_velocity})'
        SET_VELOCITY_LIMIT VELOCITY={start_max_velocity} ACCEL={start_max_accel} SQUARE_CORNER_VELOCITY={start_max_square_corner_velocity}
    {% endif %}

    _Z_TILT_ADJUST {rawparams}

    {% if max_velocity > start_max_velocity or max_accel > start_max_accel or max_square_corner_velocity > start_max_square_corner_velocity %}
        RESPOND TYPE=command MSG='Restoring VELOCITY={max_velocity} ACCEL={max_accel} SQUARE_CORNER_VELOCITY={max_square_corner_velocity}'
        SET_VELOCITY_LIMIT VELOCITY={max_velocity} ACCEL={max_accel} SQUARE_CORNER_VELOCITY={max_square_corner_velocity}
    {% endif %}

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set max_velocity = printer.toolhead.max_velocity %}
    {% set max_accel = printer.toolhead.max_accel %}
    {% set max_square_corner_velocity = printer.toolhead.square_corner_velocity %}
    {% set start_max_velocity = [printer["gcode_macro _START_END_PARAMS"].start_max_velocity, max_velocity]|min %}
    {% set start_max_accel = [printer["gcode_macro _START_END_PARAMS"].start_max_accel, max_accel]|min %}
    {% set start_max_square_corner_velocity = [printer["gcode_macro _START_END_PARAMS"].start_max_square_corner_velocity, max_square_corner_velocity]|min %}

    {% if max_velocity > start_max_velocity or max_accel > start_max_accel or max_square_corner_velocity > start_max_square_corner_velocity %}
        RESPOND TYPE=command MSG='Setting VELOCITY={start_max_velocity} (was {max_velocity}) ACCEL={start_max_accel} (was {max_accel}) SQUARE_CORNER_VELOCITY={start_max_square_corner_velocity} (was {max_square_corner_velocity})'
        SET_VELOCITY_LIMIT VELOCITY={start_max_velocity} ACCEL={start_max_accel} SQUARE_CORNER_VELOCITY={start_max_square_corner_velocity}
    {% endif %}

    _BED_MESH_CALIBRATE {rawparams}

    {% if max_velocity > start_max_velocity or max_accel > start_max_accel or max_square_corner_velocity > start_max_square_corner_velocity %}
        RESPOND TYPE=command MSG='Restoring VELOCITY={max_velocity} ACCEL={max_accel} SQUARE_CORNER_VELOCITY={max_square_corner_velocity}'
        SET_VELOCITY_LIMIT VELOCITY={max_velocity} ACCEL={max_accel} SQUARE_CORNER_VELOCITY={max_square_corner_velocity}
    {% endif %}