[duplicate_pin_override]
pins: PA1, PA4

[fan_generic part]
pin: PA6
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.200
max_power: 1.0
shutdown_speed: 0.0

[fan_generic chamber]
pin: PA5
cycle_time: 0.0100
hardware_pwm: false

[heater_fan hotend]
pin: PA4
heater: extruder
heater_temp: 40

[controller_fan MCU]
pin: PA1
#tachometer_pin: ^PC3
#tachometer_poll_interval: 0.0015
cycle_time: 0.00004
hardware_pwm: false
heater: extruder, heater_bed
stepper: stepper_y, stepper_x, stepper_z, stepper_z1, stepper_z2

[temperature_fan mcu_temp]
pin: PA1
cycle_time: 0.00004
hardware_pwm: true
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 85
control: watermark
max_delta: 2
target_temp: 45

[heater_generic chamber]
heater_pin: PA3
max_power:1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: watermark
max_delta: 1
min_temp:0
max_temp:75

[gcode_macro M106]
description: Set Fan Speed. P0 for part, P1 for chamber, P2 for auxiliary, P3 chamber
gcode:
  {% set fan_map = {0: "part", 1: "chamber", 2: "auxiliary", 3: "chamber"} %}
  {% set fan_id = params.P|default(0)|int %}
  {% set fan = fan_map[fan_id] %}
  {% set speed_param = params.S|default(255)|int %}
  {% if speed_param > 0 %}
    {% set speed = (speed_param|float / 255) %}
  {% else %}
    {% set speed = 0 %}
  {% endif %}
  {% if 'fan_generic ' + fan in printer.configfile.settings %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}
  {% endif %}

[gcode_macro M107]
description: Set Fan Off. P0 for part, P1 for chamber, P2 for auxiliary, P3 chamber
gcode:
  {% set fan_map = {0: "part", 1: "chamber", 2: "auxiliary", 3: "chamber"} %}
  {% set fan_id = params.P|default(0)|int %}
  {% set fan = fan_map[fan_id] %}
  {% if 'fan_generic ' + fan in printer.configfile.settings %}
    SET_FAN_SPEED FAN={fan} SPEED=0
  {% endif %}

[gcode_macro TURN_OFF_FANS]
description: Stop chamber, auxiliary and part fan
gcode:
    SET_FAN_SPEED FAN=part SPEED=0
    {% if 'fan_generic chamber' in printer.configfile.settings %}
      SET_FAN_SPEED FAN=chamber SPEED=0
    {% endif %}

[gcode_macro TURN_ON_FANS]
description: Turn on chamber, auxiliary and part fan
gcode:
    SET_FAN_SPEED FAN=part SPEED=1
    {% if 'fan_generic chamber' in printer.configfile.settings %}
      SET_FAN_SPEED FAN=chamber SPEED=1
    {% endif %}